/* Ép xoay ngang trên điện thoại */
@media screen and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 100%;
    overflow: hidden;
  }
}
